# This workflow will build a golang project

# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go
name: Build

on:
  push:
    tags:
      - "v*.*"

jobs:
  build:
    name: Go Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'
        check-latest: true
    
    - name: Build
      run: make all-zip
    
    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        draft: true
        prerelease: false
        files: |
          dist/*.zip
